<h1>Proyectos</h1>

<div id="proyects">
  <% @proyects.each do |proyect| %>
    <%= render proyect %>
    <p>
      <%= link_to "Show this proyect", proyect %>
    </p>
  <% end %>
</div>

<%= link_to "New proyect", new_proyect_path %>
